<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>게시글 페이지</title>
</head>
<body>

    <header id="header"></header>

    <main>
        <header>
            <h1>첫번째 글</h1>
        </header>

        <aside>
            <p>Uno</p>
            <p><a href="#">aaaaa@gamil.com</a></p>
            <p><time datetime="2022-01-01T00:00:00">2022-01-01</time></p>
            <p>#java</p>
        </aside>

        <section>
            <form>
                <label for="comment-textbox" hidden>댓글</label>
                <textarea id="comment-textbox" placeholder="댓글 쓰기.." rows="3" required></textarea>
                <button type="submit">쓰기</button>
            </form>

            <div>
                <ul>
                    <li>
                        <div>
                            <time><small>200-01-01</small></time>
                            <strong>Uno</strong>
                            <p>
                                Comment1
                            </p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <time><small>200-01-01</small></time>
                            <strong>Uno</strong>
                            <p>
                                Comment2
                            </p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <time><small>200-01-01</small></time>
                            <strong>Uno</strong>
                            <p>
                                Comment3
                            </p>
                        </div>
                    </li>
                </ul>
            </div>

            <nav>
                <a href="#">이전 글</a>
                <a href="#">다음 글</a>
            </nav>
        </section>

    </main>

    <footer id="footer"></footer>

</body>
</html>